@{
    @using Microsoft.AspNetCore.Http
    ViewData["Title"] = "Home Page";
    var testSession = ViewData["TestSession"];
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h1 class="display-4">SessionData: @testSession</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

